body{
    background-color: #e6e7c8;
    text-align: center;
    font-family: Arial;
}

.getdel{
    background-color: #E9C8A7;
}

.guard{
    background-color: #C5B4ED;
}

.menu{
    background-color: #CEEDB4;
}

p{
    background-color: #EDB4B4;
}

.fondo{
    background-color: #ffffff;
}